<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->





        <!-- Content Start -->
        <div class="content">



            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Users</p>
                                <h6 class="mb-0">{{user}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Orders</p>
                                <h6 class="mb-0">{{orderCount}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Products</p>
                                <h6 class="mb-0">{{productCount}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">{{totalRevenue}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            {{!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                </div>
            </div> --}}

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>

                            <script>
                                document.addEventListener('DOMContentLoaded', hello)
                                function hello() {
                                    console.log('hello working')
                                    data1 = []
                                    data2 = []
                                    axios.get('/admin/chart').then((e) => {
                                        console.log(e.data, 'dt')
                                        e.data.CategoryBase.map((data) => {
                                            console.log(data, 'datattttt')
                                            data1.unshift(data._id)
                                            data2.unshift(data.sum)


                                        })
                                        chart(data1, data2)
                                        chart2(e.data.DayBase)
                                    })



                                    function chart(y, x) {
                                        var xValues = y
                                        var yValues = x
                                        var barColors = [
                                            "#b91d47",
                                            "#00aba9",
                                            "#2b5797",
                                            "#e8c3b9",
                                            "#1e7145"
                                        ];

                                        new Chart("myChart1", {
                                            type: "pie",
                                            data: {
                                                labels: xValues,
                                                datasets: [{
                                                    backgroundColor: barColors,
                                                    data: yValues
                                                }]
                                            },
                                            options: {
                                                title: {
                                                    display: true,
                                                    text: "World Wide Wine Production 2018"
                                                }
                                            }
                                        });
                                    }
                                     function chart2(DayBase) {
                                        console.log("chart2 working")
                                        value1=[]
                                        value2=[]
                                       
                                            DayBase.map((DayBase)=>{
                                                console.log(DayBase,"dayyyyyyyyyyyyyyyyy")
                                                value1.unshift(DayBase.convertedPrice)
                                                value2.unshift(DayBase.date)
                                            })
                                        
                                      
                                        var barColors = ["red", "green", "blue", "orange", "brown"];

                                        new Chart("myChart2", {
                                            type: "bar",
                                            data: {
                                                labels: value2,
                                                datasets: [{
                                                    backgroundColor: barColors,
                                                    data: value1
                                                }]
                                            },
                                            options: {
                                                legend: { display: false },
                                                title: {
                                                    display: true,
                                                    text: "World Wine Production 2018"
                                                }
                                            }
                                        });
                                    }
                                }
                            </script>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>

                                <script>
                                   
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->



            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


</body>